.main-block-bg {
  background-color: transparent;
  background-image: url(img/main_bg_repeat.png);
  background-position: top center;
  background-repeat: repeat;
  /*background-size: contain;*/
  box-sizing: border-box;
  display: table;
  margin-top: 10px;
  min-height: 218px;
  padding: 32px 22px 22px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.main-block-bg:before {
  background-image: url(img/main_bg_top.png);
  background-repeat: no-repeat;
  content: "";
  height: 122px;
  left: 0;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 0;
}

.main-block-border-bg {
  background-image: url(img/main_border_bg.png);
  background-repeat: repeat;
  box-sizing: border-box;
  color: #fff;
  display: table;
  padding: 27px 31px 30px;
  position: relative;
  width: 960px;
  min-height: 150px;
}
.main-block-border-bg a {
  color: #fdc50d;
}
.main-block-border-bg a:hover {
  color: #b3692e;
}
.main-block-border-bg .tool i {
  color: #000;
}
.main-block-border-bg:before {
  background-image: url(img/main_border_bg_top.png);
  background-repeat: no-repeat;
  content: "";
  height: 44px;
  left: 0;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 0;
  /*width: 284px;*/
}
.main-block-border-bg:after {
  background-image: url(img/main_border_bg_bottom.png);
  background-repeat: no-repeat;
  bottom: -9px;
  content: "";
  height: 34px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}

/* Popup ?berschriften Level 2 */
h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #8ebf2a;
}

/* Popup ?berschriften Level 3 */
h3 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #8ebf2a;
}
h3.inactive {
  font-style: italic;
  color: #b6b6b6;
}

/* Zusatzinfos */
h5 {
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #fff;
  font-style: italic;
}

/* ------------------------------------------------------------------------------------------

/* Seiteninhalt */
#wrap {
  /* width wird im Template festgelegt */
  margin: auto;
  /*max-height: 1080px;*/
  overflow: hidden;
  width: 1000px;
}
#wrap.no-premium {
  /*max-height: 1345px;*/
}
#wrap .wrap_content {
  background: #c3de80;
  margin: 0 auto;
  padding: 10px;
  width: 1005px;
}
#wrap .wrap_content.with-img {
  background-color: transparent;
  padding: 0;
}

#wrap .wrap_content .copyright {
  margin-top: 20px;
  padding: 5px;
  text-align: right;
  border-top: 1px dotted #9a9a9a;
  font-size: 9px;
  color: #9a9a9a;
}

#wrap .wrap_banner {
  display: none;
  /*float: left;*/
  /*width: 103px;*/
  /*text-align: center;*/
}

.material_type_bg {
  background-image: url(../img/material_type_bg.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 328px;
  position: relative;
  width: 290px;
}

.block-info p {
  box-sizing: border-box;
  color: #e5ae86;
  display: block;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #000;
  width: 100%;
}
/* Rohstoff - Gro?e Anscht */
.material {
  background-color: #1c1211;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #8b513b;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  float: left;
  height: 47px;
  margin: 2px 6px;
  position: relative;
  width: 47px;
}
